<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

    <extension id="OquareComponent" point="org.protege.editor.core.application.ViewComponent">
        <label value="OQuaRE metrics and score"/>
        <class value="plugin.view.OquarePluginMetrics"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

</plugin>
